
<%= form_for(@spider, html: {multipart: true}) do |f| %>
  <% if @spider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@spider.errors.count, "error") %> prohibited this spider from being saved:</h2>

      <ul>
      <% @spider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :species %><br>
    <%= f.text_field :species %>
  </div>
  <div class="field">
    <%= f.label :venemous %><br>
    <%= f.check_box :venemous %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <span class="picture">
    <%= f.text_field :picture %>
  </span>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
