<p id="notice"><%= notice %></p>

<p>
  <strong>Species:</strong>
  <%= @spider.species %>
</p>
<%= image_tag @spider.picture, width: "300" if @spider.picture? %>

<p>
  <strong>Venemous:</strong>
  <%= @spider.venemous %>
</p>


<p>
  <strong>Description:</strong>
  <%= @spider.description %>
</p>

<%= link_to 'Edit', edit_spider_path(@spider), :class => "btn btn-default" %> |
<%= link_to 'Back', spiders_path, :class => "btn btn-default" %>
